[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
solc = "0.8.20"
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
# Primary: https://eth-rpc-testnet.polkadot.io/  Alternative (use if banned): https://services.polkadothub-rpc.com/testnet
polkadot_hub_testnet = "https://services.polkadothub-rpc.com/testnet"
